<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="{{ asset('css/font-awesome.min.css') }}"/>
            <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}"/>
            <link type="text/css" rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}"/>
            <link type="text/css" rel="stylesheet" href="{{ asset('css/styles.css') }}"/>
            <link type="text/css" rel="stylesheet" href="{{ asset('css/common.css') }}"/>
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/customeasyadmin/stylesheet/field-word-pronounce.css') }}"/>
            <link type="text/css" rel="stylesheet" href="{{ asset('bundles/customeasyadmin/stylesheet/field-word-pictures.css') }}"/>
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('js/jquery-2.2.4.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('js/scripts.js') }}"></script>
        {% endblock %}
    </body>
</html>
