{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}



{% block body %}
    {% if app.request.attributes.get('app.background_uri', false) %}
        {% spaceless %}
        <div class="background"
             style="background: url({{ app.request.attributes.get('app.background_uri')}});
               {% if app.request.attributes.get('app.background_repeated') %}
                    background-repeat: repeat;
               {% else %}
                   background-repeat: no-repeat;
                   background-size: cover;
               {% endif %}
             ">
        </div>
        {% endspaceless %}
    {% endif %}
    <header>
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><span class="fa fa-calendar-check-o"></span></a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="main-menu">
                            {% block navbar_user %}
                                <div class="nav navbar-text {{ navbar_class|default('visible-xs') }}">
                                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                        <span class="fa fa-user"></span>
                                        <span>{{ app.user.username }}</span>
                                        |
                                        <a href="/logout">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
                                    {% else %}
                                        <a href="/login">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                    {% endif %}
                                </div>
                            {% endblock %}

                            {% block navbar_locale %}
                                <ul class="nav navbar-nav {{ navbar_class|default('visible-xs') }}">
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            {{ app.request.locale|slice(0,2)|upper }}
                                            <span class="caret"></span>
                                        </a>
                                            {% set uri = '/change-locale/__locale__?back-uri=%s'|format(app.request.uri|e('url')) %}
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li><a href="{{ uri|replace({'__locale__':'ru'}) }}">{{ 'RU' }}</a></li>
                                                <li><a href="{{ uri|replace({'__locale__':'en'}) }}">{{ 'EN' }}</a></li>
                                            </ul>
                                    </li>
                                </ul>
                            {% endblock %}
                            <ul class="nav navbar-nav">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('easyadmin') }}">{{ 'menu.admin'|trans }}</a></li>
                                {% endif %}
                                <li><a href="{{ path('dictionary_list') }}">{{ 'menu.dictionary.list'|trans }}</a></li>
                            </ul>
                            {% with {navbar_class: 'navbar-right hidden-xs'} %}
                                {{ block('navbar_user') }}
                                {{ block('navbar_locale') }}
                            {% endwith %}

                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>
    <footer></footer>
{% endblock %}

