{% extends 'dictionary/common_template.html.twig' %}


{% block dictionary_view_controls %}
    <div class="dropdown inline-block control word-count-control">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            {{ 'dictionary.view.words_in_page'|trans }}
            {{ '(%s)'|format('dictionary.view.words_in_page_%count%'|trans({'%count%': wordsPagination.itemNumberPerPage})) }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% set uri = path('dictionary_words', app.request.query|merge({ id: dictionary.id, page: 1, pageSize: '__size__'})) %}
            {% for count in [ 10, 20, 50, 'all'] %}
                <li>
                    <a href="{{ uri|replace({'__size__':count}) }}">
                        {{  + count
                        ? 'dictionary.view.words_in_page_%count%'|trans({'%count%': count})
                        : 'dictionary.view.words_in_page_%count%'|replace({'%count%': count})|trans
                        }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="dropdown inline-block control attributes-visibility-control spelling transcription translation package">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
            {{ 'dictionary.view.word_attributes_visibility'|trans }}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            {% for attribute in ['spelling', 'transcription', 'translation', 'in-package'] %}
                <li class="{{ attribute }}" data-attribute="{{ attribute }}">
                    <a href="#">
                        <span class="attribute-visible pull-right fa fa-eye"></span>
                        <span class="attribute-hidden pull-right fa fa-eye-slash"></span>
                        {{ ('word.'~attribute)|trans }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>

    <button class="btn btn-default control shuffle-control">{{ 'dictionary.view.shuffle_words'|trans }}</button>

    {{ parent() }}
{% endblock dictionary_view_controls %}

{% block modals %}
    {{ parent() }}
    {% block external_source_modal %}
        <div class="external-source modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{{ 'dictionary.view.external_modal.title'|trans }}</h4>
                    </div>
                    <div class="modal-body">
                        <ul class="list list-unstyles">
                            <li class="yandex-source"><a target="_blank" href="#" >{{ 'dictionary.view.external_modal.source_yandex'|trans }}</a></li>
                            <li class="wooord-hunt-source"><a target="_blank" href="#">{{ 'dictionary.view.external_modal.source_wooord_hunt'|trans }}</a></li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            {{ 'dictionary.view.external_modal.close'|trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {% endblock external_source_modal %}
{% endblock modals %}

{% block dictionary_view_content %}
    <div class="row">
        <div class="col-sm-6 pull-left">{{ form(wordsFilterForm) }}</div>
    </div>
    <ul class="list-unstyled list words-list spelling transcription translation"
        data-chosen-package-id="{{ chosenPackage.id }}">
        <li class="col-sm-12 headers hidden-xs">
            <div class="header spelling col-sm-3"><span>{{ 'word.spelling'|trans }}</span></div>
            <div class="header transcription col-sm-3"><span>{{ 'word.transcription'|trans }}</span></div>
            <div class="header pronounce col-sm-2"><span>{{ 'word.pronounce'|trans }}<br/>{{ 'word.pictures'|trans }}</span></div>
            <div class="header translation col-sm-4"><span>{{ 'word.translation'|trans }}</span></div>
        </li>
        {% set is_predefined_package = chosenPackage.id in ['all-local', 'all-global'] %}
        {% for word in wordsPagination %}
            {% set in_package = is_predefined_package ? true: chosenPackage.hasWord(word) %}
            <li class="col-sm-12 word {{ in_package ? 'in-package' }}"
                    data-word-id="{{ word.id }}">
                <div class="row">

                    <div class="spelling attribute col-sm-3">
                        {% set class = is_predefined_package ? 'disabled checked' : in_package ? 'checked'  %}
                        <div class="checker package-entrance text-vertical-middle animated-control {{ class }}"
                                title="{{ 'dictionary.view.bind_to_chosen_package'|trans }}">
                            <span class="icon checked fa fa-check-square-o"></span>
                            <span class="icon unchecked fa fa-square-o"></span>
                            <span class="icon wait fa fa-spinner"></span>

                        </div>
                        <a href="#">
                            <span class="spy fa fa-eye"></span>
                            <span class="text">{{ word.spelling.text }}</span>
                        </a>
                    </div>
                    <div class="transcription attribute col-sm-3 ">
                        <span class="spy fa fa-eye"></span>
                        <span class="text">[ {{ word.transcription.text }} ]</span>
                    </div>
                    <div class="pronounce pictures info attribute col-sm-2">
                        {% spaceless %}
                        {{ include('@CustomEasyAdminBundle/Resources/views/word/field_word_pronounce.html.twig', { value: word.pronounce }, with_context = false ) }}
                        {{ include('dictionary/includes/_pictures_dropdown_widget.html.twig', { value: word.pictures }, with_context = false ) }}
                        {{ include('dictionary/includes/_info_dropdown_widget.html.twig', { value: word.pictures }, with_context = false ) }}
                        {% endspaceless %}
                    </div>
                    <div class="translation attribute col-sm-4">
                        <span class="spy fa fa-eye"></span>
                        <span class="text">{{ word.translation.text }}</span>
                    </div>
                </div>
            </li>
        {% else %}
            <li class="col-sm-12 words-not-found">
                {{ 'notification.list_empty'|trans }}
            </li>
        {% endfor %}
    </ul>
    <div class="navigation text-left">
        {{ knp_pagination_render(wordsPagination) }}
    </div>
{% endblock dictionary_view_content %}









